<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PathCBOutput" value="C:\Users\user446\Desktop\CBOutput\BACKUP"/>
		<add key="PathWaferMapping" value="C:\Users\user446\Desktop\WaferMapping\"/>
		<add key="Logfile" value="C:\Users\user446\Desktop\log\LogFile.txt"/>
	</appSettings>
</configuration>